<div class="card mb-3" style="cursor: pointer;" onclick="location.href='{{post.url}}'">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="{{post.image_url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <pre class="card-text">{{post.content}}</pre>

                <div class="mt-auto">
                    <div class="text-end">
                        <a href="{{ url_for('delete_post', id=post.postID) }}" class="btn custom-button me-3">삭제</a>
                    </div>

                    <small class="card-text">Written by {{post.userID}}</small>
                    <p class="card-text">
                        <small class="text-muted">
                            {% if post.date%}
                            Posted on {{ post.date.strftime('%Y-%m-%d %H:%M') }}
                            {% else %}
                            Date not available
                            {% endif %}
                        </small>
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>