<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <a class="nav-link text-white" aria-current="page" href="{{ url_for('total')}}">
            <div class="card">
                <img src="https://i.pinimg.com/564x/73/95/de/7395dec8eb275253c2245947dda7d622.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">All</h5>
                    <p class="card-text">check out various rec.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a class="nav-link text-white" aria-current="page" href="{{ url_for('music')}}">
            <div class="card">
                <img src="https://i.pinimg.com/564x/aa/53/68/aa53683a96a23571867f1eafa0d845a1.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Music</h5>
                    <p class="card-text">check out various music rec.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a class="nav-link text-white" aria-current="page" href="{{ url_for('movie')}}">
            <div class="card">
                <img src="https://i.pinimg.com/150x150/5e/4d/07/5e4d072200862b5f88cdb87400e391e3.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Movie</h5>
                    <p class="card-text">check out various movie rec.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a class="nav-link text-white" aria-current="page" href="{{ url_for('instagram')}}">
            <div class="card">
                <img src="https://i.pinimg.com/564x/f4/34/29/f4342925d075d5a0cfb77a4a0929b954.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Instagram</h5>
                    <p class="card-text">check out various instagram rec.</p>
                </div>
            </div>
        </a>
    </div>
</div>